@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
* {
  font-family: Sora, 'Segoe UI', Tahoma, Verdana, sans-serif;
}

progress {
  visibility: hidden;
}
label {
  font-size: 1.3em;
  color: rgb(255, 0, 0);
}
hr {
  height: 1px;
  background-color: rgb(224, 16, 120);
}
footer {
  background-color: black;
  padding: 0.7em;
  color: aliceblue;
  margin-top: 2em;
}

input[type="checkbox"]:checked + label  {
  color: rgb(112, 170, 4);
  transition: color 0.2s;
  font-weight: bold;
   background-color: rgb(243, 230, 230);
}
input[type="checkbox"]:checked ~ progress  {
  visibility: visible;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(243, 20, 20);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  width: 150px;
  height: 1em;
}
progress[value]::-webkit-progress-bar {
  background-color: rgb(241, 115, 115);
  border-radius: 5px;
  box-shadow: 1 2px 5px rgba(252, 27, 46, 0.55) inset;
}
progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(223, 72, 72, 0.199), 
	                           rgba(0, 0, 0, 0.699)),
	   -webkit-linear-gradient(left, rgb(194, 66, 49), #f44);

    border-radius: 4px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value]::-webkit-progress-value::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  right: 7px;
  top: 7px;
  background-color: white;
}
input[type="checkbox"] {
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
   /* outline: max(2px, 0.15em) solid rgb(255, 0, 0);
  outline-offset: max(1px, 0.1em) solid rgb(245, 245, 20);
  outline-color: chartreuse;
  outline-style:solid;
  outline-width: 4px; */
  outline: max(2px, 0.15em) solid rgb(255, 0, 0);
  outline-offset: max(1px, 0.2em);
}

input[type="checkbox"]:checked {
  outline: max(2px, 0.15em) solid rgb(72, 255, 0);
  outline-offset: max(1px, 0.2em);
}


/* CSS */


/* CSS */
.button-29 {margin-top: 1em;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #ff5454 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}