@import url('https://fonts.googleapis.com/css?family=Baloo Chettan 2|Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto&display', sans-serif;
}

/* navigation style start here */
body {
    max-width: 1200px;
    margin: 0 auto;
}
.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 22px;
}

.topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.topnav a.active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 660px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 660px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* navigation style end here */
/* header style start here */
header {
    background-color: rgb(224, 224, 224);
    padding: 20px 0;
}
h1 {
    font-family: 'Baloo Chettan 2', cursive;
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(99, 126, 89,0.4);
}
/* header style end here */
/* main style start here */
main {
    /* background-color: rgb(190, 177, 141); */
    min-height: 80vh;
}
/* style for all p in main section */
 main p {
    padding: 10px;
    border-bottom: 2px solid rgb(223, 220, 236);
}
.information h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: rgba(54, 118, 190, 0.5);
    color: rgb(23, 2, 116);
}
/* icons style */
i {
    font-size: 20px;
    padding-right: 10px;
}
i[class="fas fa-info"] {
    color: blue;
}
i[class="fas fa-shoe-prints"] {
    color: rgb(92, 87, 13);
}
i[class="far fa-images"] {
    color: rgb(121, 83, 122);
}
i[class="fas fa-exclamation-triangle"] {
    color: rgb(129, 31, 44);
}
i[class="fas fa-home"] {
    color: rgb(255, 255, 255);
}
i[class="fas fa-search"] {
    color: rgb(255, 255, 255);
}
i[class="fas fa-user-plus"] {
    color: rgb(255, 255, 255);
}
i[class="fas fa-flag-checkered"] {
    color: rgb(255, 255, 255);
}
/* icons style end here */
ul {

}
li {
    background-color: rgb(120, 200, 231);
    padding: 5px 30px;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}

/* main style end here */
/* footer style start here */
footer {
    background-color: rgb(192, 245, 242);
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    color: white;
}
footer p {
    padding: 5px 20px;
}

/* footer style end here */